extends layout

block content
  p hello room number:
  p= data.roomId
  
  each image in data
    p Date of image:
    p= image.date
    img(src="data:image/png;base64," + image.image)
      
    
      
